<h2>Owner Verification Requests</h2>
<table>
    <tr>
        <th>User</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for req in requests %}
    <tr>
        <td>{{ req.user.username }}</td>
        <td>{{ req.get_status_display }}</td>
        <td>
            <a href="{% url 'owner_verification:update_request_status' req.id 'approved' %}">Approve</a> |
            <a href="{% url 'owner_verification:update_request_status' req.id 'not_approved' %}">Not Approve</a>
        </td>
    </tr>
    {% endfor %}
</table>
